.c-to-do__item {
	position: relative;
	border-radius: 5px;
	border: 1px solid transparent;
	padding-left: 10px;
	padding-right: 10px;

	&.is-complete {
		.c-to-do__edit {
			color: #767676;
			text-decoration: line-through;

			&:focus {
				text-decoration: none;
			}
		}
	}

	&:hover {
		background-color: #fafafa;
	}

	&:hover,
	&:focus,
	&.is-focused {
		outline: none;

		.c-to-do__actions {
			display: flex;
		}
	}

	&:focus,
	&.is-focused {
		background-color: #f5f7fe;
		border-color: #d0dbf8;

		.c-to-do__edit {
			outline: none;
			color: #000;
			border-color: transparent;
		}

		.c-to-do__edit-placeholder {
			display: none;
		}
	}
}

.c-to-do__edit {
	outline: none;
	padding-top: 8px;
	padding-bottom: 8px;
}

.c-to-do__edit-placeholder {
	position: absolute;
	display: flex;
	align-items: center;
	top: 0;
	left: 10px;
	bottom: 0;
	color: #767676;
}

.c-to-do__actions {
	position: absolute;
	top: -25px;
	right: 6px;
	display: none;
	justify-content: flex-end;
	align-items: center;
	background-color: #fff;
	border-radius: 3px;
	border: 1px solid #d0dbf8;
	padding: 3px;
	box-shadow: 0 1px 2px rgba(#000, 0.05);
	z-index: 100;

	> * {
		&:not(:last-child) {
			margin-right: 1px;
		}
	}
}
