.c-to-do__item {
	position: relative;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;

	&.is-complete {
		.c-to-do__edit {
			color: currentcolor;
			text-decoration: line-through;

			&:focus {
				color: #000;
				text-decoration: none;
			}
		}
	}

	&:hover {
		.c-to-do__actions {
			background-color: rgba(#fff, 0.9);
		}
	}

	&:hover,
	&:focus,
	&.is-focused {
		outline: none;

		.c-to-do__actions {
			display: flex;
		}
	}

	&:focus,
	&.is-focused {
		background-color: #f5f7fe;
		box-shadow: 0 0 0 1px #d0dbf8;

		.c-to-do__edit {
			outline: none;
			border-color: transparent;
			padding-right: 162px;
		}

		.c-to-do__edit-placeholder {
			display: none;
		}

		.c-to-do__actions {
			background-color: rgba(#f5f7fe, 0.9);
		}
	}
}

.c-to-do__edit {
	outline: none;
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom: 1px solid #e6e6e9;
}

.c-to-do__edit-placeholder {
	position: absolute;
	display: flex;
	align-items: center;
	top: 0;
	left: 10px;
	bottom: 0;
	color: #727272;
}

.c-to-do__actions {
	display: none;
	justify-content: flex-end;
	align-items: center;
	position: absolute;
	top: 1px;
	right: 4px;
	bottom: 1px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	padding-left: 12px;
}
