.c-icon-button {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid transparent;
	width: auto;
	height: auto;
	padding: 5px;
	border-radius: 3px;
	overflow: hidden;

	&:hover,
	&:focus {
		outline: none;
		background-color: #f5f7fe;
		border-color: #d0dbf8;
	}

	&[disabled] {
		pointer-events: none;
		opacity: 0.2;
	}
}
